
<div class="navbar-fixed">
<nav class="bg-light-gray">
<div class="nav-wrapper">
      <img style="margin-top:2vh;margin-left:1vh;height:30px;width:80px;float:left;" src="http://localhost:4200/zoho.png" alt="brand-logo">
      <div style="color:#222b30;" class="avenir tc f4">{{orgInfo}}</div>
  </div>
</nav>
</div>
{{yield}}
